* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.section1accessories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8em;
    img {
        height: 500px;
    }
}

.section2accessories {
    margin: 20px;
    justify-content: center;
    padding: 50px;
    .input-text:focus{
        box-shadow: 0px 0px 0px;
        border-color:#8ecaf5;
        outline: 0px;
    }
    .form-control {
        border: 1px solid #8ecaf5;
    }
    .btn:hover {
        color:gainsboro;
    }
    .container-fluid {
        justify-content: center;
    }
}


//cards
.section3accessories {
    h2 {
        text-align: center;
    }
    .card {
        width: 20rem;
        margin-bottom: 20px;
        text-size-adjust: auto; 
        .btn-primary:hover {
            background-color: #2e9620;
        } 
    }
    .card:hover {
        opacity: 0.5;
    }   
}


//mediaqueries - breakpoints
@media screen and (max-width: 834px) {
    .container-fluid {
        --bs-gutter-x: 0;
    }
    header {
        .navbar {
            display: none;
        }
    }
    .section1accessories {
        justify-content: center;
        padding: 7em;
        gap:40px;
        h1 {
            font-size: 40px;
        }
        img {
            width: 75%;
            height: auto; 
        }
    }
    .section2accessories {
        margin: 10px;
        padding: 25px;
    }
}

 
