*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}


body h1 {
    font-size: 80px;
}

body h2 {
    color: black;
    font-size: 40px;
}

body h3 {
    color: black;
    font-size: 30px;
}

body h4 {
    color: black;
    font-size: 25px;
}

body p {
    color: black;
    font-size: 18px;
}

//header
header {
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 8px;
        
            ul {
                display: flex;
                list-style: none;
                li {
                    margin-left: 50px;
                    font-size: 15px;
                    a {
                        text-decoration: none;
                        color: black;
                        &:hover {
                            color:#0071e3;
                        }
                        img {
                            height: 20px; 
                        }
                    }
                    img {
                        height: 20px; 
                        cursor: pointer;
                    }
                    
                
                }
            }
        }
    .logoresponsive {
            display: none;
            img {
                height: 20px;
            }
        }
    .dropdown_menu {
        display: none;
        padding-top: 5px;
        ul {
            flex-direction: column;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                a {
                    text-decoration: none;
                    color: black;
                        &:hover {
                            color:#0071e3;
                        }
                }
                
            }

        } 
    }

    .menuicon {
        display: none;
        img {
            height: 20px;
            cursor: pointer;
        }
    }
    .xicon{
        display: none;
        img {
            height: 20px;
        }
    }  
}


//buttons
.shop-button {
    background-color: #0071e3;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 6px;
    transition-duration: 0.4s;
}
.shop-button:hover {
    background-color: #2e9620;
}

.learn-button {
    background-color: transparent;
    border-color: #0071e3;
    border-radius: 15px;
    color: #0071e3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 6px;
    transition-duration: 0.4s;
}
.learn-button:hover {
    background-color: #fcfdff;
}

//last section per page
.store {
    display: flex;
    margin-left: 5rem;
    padding-top: 20px;
    padding-bottom: 20px;
        img {
            height: 22px;
            padding-right: 10px;
        }
}

.menu-items {
    margin-top: 30px;
    background-color:#00000019;
    padding-bottom: 20px;
    .menu-list {
        display: flex;
        justify-content: space-evenly;
         ul {
            list-style: none;
            font-size: 14px;
            .title-list {
                font-size: 16px;
                font-weight: 250%;
            }
        }
    }
}


//footer
footer {
    padding: 15px;
        p {
            text-align: center;
            font-size: 12px;
        }
}

//mediaqueries - breakpoints
@media screen and (max-width: 834px) {
    .navbar {
        display: none;
    }
    header {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        .logoresponsive {
            display: block;
            padding: 10px;
        }
        .dropdown_menu {
            display: block;
            padding: 10px;
        }
        .menuicon {
            display: block;
            padding: 10px;
        }
    }
    .menu-items {
        .menu-list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            ul {
               text-align: center;
            }       
         }
     }
     .shop-button {
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 8px;
     }
     .learn-button {
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 8px;
     }   
} 


