* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


nav {
    ul {
        margin: auto;
        padding: auto;
        li {
            justify-content: center;
        }
    }
}

 section video {
    width: 100%;
}


.container-fluid .home-iphone1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    img {
        width: 550px;
        height: auto;
        padding: 30px;
    }
}

.container-fluid .home-iphone2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: black;
    color: white;
    height: 90vh; 
    h1 {
        color: white;
        padding-bottom: 30px;
    }
    p {
        color: white;
    }
    img {
        width: 40%;
        height: auto; 
        padding-bottom: 20px;
    }
    .button-home-iphone2 {
        padding: 45px 20px 20px 20px;
        flex-direction: row;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px 10px 10px 0px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
    width: 1fr;
    height: 70vh;
    gap: 10px;
    
        .cardsHome1 {
            background-color: black;
        h2 {
            margin-top: 10px;
            color: white;
            padding: 0px;
        }
        p {
            color: white;
            padding: 5px;
        }
        .img1 {
            width: 60%;
            height: auto;
            object-fit: cover;
        } 
        .img2 {
            width: 60%;
            height: auto;
            object-fit: cover;
        }
    }
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px 10px 10px 0px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    width: 1fr;
    height: 70vh;
    gap: 10px;
    
    .cardsHome2 {
        background-image: url(/assets/home/ipadHome.png);
        background-size: cover;
        background-position: center;
        h2 {
            margin-top: 10px;
            color: black;
            padding: 0px;
        }
        p {
            color: black;
            padding: 10px;
        }
    }
    .cardsHome3 {
        background-image: url(/assets/home/airpodshome.png);
        background-size: cover;
        background-position: center;
        h2 {
            margin-top: 10px;
            color: black;
            padding: 0px;
        }
        p {
            color: black;
            padding: 10px;
        }
    }
}

//carousel

.c-item {
    height: auto;
}
.c-img {
    width: 100%;
    height: auto;
    object-fit:cover;
}

//mediaqueries - breakpoints
@media screen and (max-width: 834px) {
    .container-fluid {
        --bs-gutter-x: 0;
    }

    section video {
        margin-top:  10%;
    }
    .home-iphone2 {
        text-align: center;
        h1 {
            font-size: 50px;
            padding: 5px;
        }
        img {
            width: 500px; 
            padding-bottom: 10px;
        }
    }
    .grid-container {
        flex-direction: column;
    }
    
}