div video {
    width: 100%;
}

.container .home-iphone1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
        img {
            width: 550px;
            height: auto;
            padding: 30px;
        }
}

.container .home-iphone2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: black;
    color: white;
    height: 90vh; 
        h1 {
            color: $titleH1w;
            padding-bottom: 30px;
        }
        p {
            color: $paragraphW
        }
        img {
            width: 40%;
            height: auto; 
            padding-bottom: 50px;
        }
        div button .button-home-iphone2 {
            padding: 45px 20px 20px 20px;
            flex-direction: row;
            justify-content: space-evenly;
        }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 20px 20px 0px;
    text-align: center;
    background-color: black;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
    
        .cardsHome1 {
        h2 {
            color: white;
            padding: 8px;
        }
        p {
            color: white;
            padding: 10px;
        }
        .img1 {
            width: 70%;
            height: 70%;
            object-fit: cover;
        }
        .img2 {
            width: 60%;
            height: 60%;
            object-fit: cover;
            ;
        }
     }

    }

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 20px 20px 0px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
    
        .cardsHome2 {
        h2 {
            color: $titleH2;
            padding: 8px;
        }
        p {
            color: $paragraphB;
            padding: 10px;
        }
        .img3 {
            width: 60%;
            height: 60%;
            object-fit: cover;
        }
        .img4 {
            width: 60%;
            height: 60%;
            object-fit: cover;
            
        }
        }

    }
