* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  font-size: 80px;
}

body h2 {
  color: black;
  font-size: 40px;
}

body h3 {
  color: black;
  font-size: 30px;
}

body h4 {
  color: black;
  font-size: 25px;
}

body p {
  color: black;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 8px;
}
nav div .logo a img {
  height: 20px;
}
nav div img {
  height: 20px;
  margin-left: 30px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 50px;
  font-size: 15px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: #0071e3;
}

.shop-button {
  background-color: #0071e3;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.learn-button {
  background-color: transparent;
  border-color: #0071e3;
  border-radius: 15px;
  color: #0071e3;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.store {
  display: flex;
  margin-left: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.store img {
  height: 22px;
  padding-right: 10px;
}

.menu-items {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.0980392157);
  padding-bottom: 20px;
}
.menu-items .menu-list {
  display: flex;
  justify-content: space-evenly;
}
.menu-items .menu-list ul {
  list-style: none;
  font-size: 14px;
}
.menu-items .menu-list ul .title-list {
  font-size: 16px;
  font-weight: 250%;
}

footer {
  padding: 15px;
}
footer p {
  text-align: center;
  font-size: 12px;
}

div video {
  width: 100%;
}

.container .home-iphone1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.container .home-iphone1 img {
  width: 550px;
  height: auto;
  padding: 30px;
}

.container .home-iphone2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: black;
  color: white;
  height: 90vh;
}
.container .home-iphone2 h1 {
  color: white;
  padding-bottom: 30px;
}
.container .home-iphone2 p {
  color: white;
}
.container .home-iphone2 img {
  width: 40%;
  height: auto;
  padding-bottom: 50px;
}
.container .home-iphone2 div button .button-home-iphone2 {
  padding: 45px 20px 20px 20px;
  flex-direction: row;
  justify-content: space-evenly;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px 20px 20px 0px;
  text-align: center;
  background-color: black;
  justify-content: center;
  flex-direction: row;
  margin: 10px 0px;
  width: 1fr;
  height: 75vh;
}
.grid-container .cardsHome1 h2 {
  color: white;
  padding: 8px;
}
.grid-container .cardsHome1 p {
  color: white;
  padding: 10px;
}
.grid-container .cardsHome1 .img1 {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-container .cardsHome1 .img2 {
  width: 60%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px 20px 20px 0px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px 0px;
  width: 1fr;
  height: 75vh;
}
.grid-container2 .cardsHome2 {
  background-image: url(/assets/home/ipadHome.png);
  background-size: cover;
  background-position: center;
}
.grid-container2 .cardsHome2 h2 {
  color: black;
  padding: 8px;
}
.grid-container2 .cardsHome2 p {
  color: black;
  padding: 10px;
}
.grid-container2 .cardsHome3 {
  background-image: url(/assets/home/airpodshome.png);
  background-size: cover;
  background-position: center;
}
.grid-container2 .cardsHome3 h2 {
  color: black;
  padding: 8px;
}
.grid-container2 .cardsHome3 p {
  color: black;
  padding: 10px;
}

.section1Mac {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8em;
}

.section2Mac video {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: calc(100% + 2px);
  top: 50%;
  width: 100%;
  height: 800px;
}

@keyframes show {
  from {
    opacity: 0.8;
    scale: 45%;
    border-radius: 20px;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
video {
  view-timeline-name: --video;
  view-timeline-axis: block;
  animation-timeline: --video;
  animation-name: show;
  animation-range: entry 45% cover 50%;
  animation-fill-mode: both;
}

h2 {
  padding: 50px;
}

.section3Mac {
  width: 100%;
  display: flex;
  flex-direction: row;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  justify-content: center;
}
.section3Mac .carouselMac::-webkit-scrollbar {
  display: none;
}
.section3Mac .card1 {
  background-image: url(/assets/mac/imgMac1.jpeg);
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  border-radius: 30px;
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.section3Mac .card1 p {
  color: white;
  padding: 20px 10px 10px 0px;
  -webkit-text-emphasis: 25%;
          text-emphasis: 25%;
}
.section3Mac .card2 {
  background-image: url(/assets/mac/imgMac2.jpeg);
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  border-radius: 30px;
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.section3Mac .card2 p {
  color: white;
  padding: 20px 10px 10px 0px;
  -webkit-text-emphasis: 25%;
          text-emphasis: 25%;
}
.section3Mac .card3 {
  background-image: url(/assets/mac/imgMac3.jpeg);
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  border-radius: 30px;
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.section3Mac .card3 p {
  padding: 20px 10px 0px 0px;
  -webkit-text-emphasis: 25%;
          text-emphasis: 25%;
}
.section3Mac .card4 {
  background-image: url(/assets/mac/imgMac4.jpeg);
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  border-radius: 30px;
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.section3Mac .card4 p {
  padding: 20px 10px 10px 0px;
  -webkit-text-emphasis: 25%;
          text-emphasis: 25%;
}
.section3Mac .card5 {
  background-image: url(/assets/mac/imgMac5.jpeg);
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  border-radius: 30px;
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.section3Mac .card5 p {
  color: white;
  padding: 20px 10px 10px 0px;
  -webkit-text-emphasis: 25%;
          text-emphasis: 25%;
}

.section4Mac {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 100px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin: 50px 0px;
  width: 1fr;
  height: 75vh;
  align-items: center;
  background-color: rgba(237, 236, 236, 0.3);
}
.section4Mac h2 {
  padding: 20px;
}
.section4Mac p {
  padding: 20px;
}
.section4Mac .choose2 img {
  width: 75%;
  height: auto;
}

.section5Mac {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-content: center;
}
.section5Mac div {
  height: 50vh;
  width: 0.2fr;
  justify-content: space-evenly;
}
.section5Mac div h3 {
  padding: 20px;
}
.section5Mac div #mac1 {
  width: 75%;
  height: auto;
  padding-bottom: 20px;
}
.section5Mac div #mac2 {
  width: 50%;
  height: auto;
  padding-bottom: 20px;
}
.section5Mac div #mac3 {
  width: 57%;
  height: auto;
  padding-bottom: 20px;
}
.section5Mac div p {
  padding-bottom: 20px;
}

.section1iPhone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8em;
}

.section2iPhone video {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: calc(100% + 2px);
  top: 50%;
  width: 100%;
  height: 800px;
}

@keyframes show {
  from {
    opacity: 0.8;
    scale: 45%;
    border-radius: 20px;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
video {
  view-timeline-name: --video;
  view-timeline-axis: block;
  animation-timeline: --video;
  animation-name: show;
  animation-range: entry 45% cover 50%;
  animation-fill-mode: both;
}

.section3iPhone {
  margin-top: 30px;
  text-align: center;
}
.section3iPhone .cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.section3iPhone .cards .card {
  height: 470px;
  width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.7s;
}
.section3iPhone .cards .card :hover {
  transform: scale(1.1);
  cursor: pointer;
}
.section3iPhone .cards .card img {
  height: 250px;
}
.section3iPhone .cards .card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section3iPhone .cards .card p {
  margin-bottom: 20px;
}

.section4iPhone {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  height: 500px;
}
.section4iPhone .card1a {
  height: 150px;
  width: 80px;
  text-align: center;
  padding: 25px;
}
.section4iPhone .card1a img {
  height: 50px;
}
.section4iPhone .card1a p {
  padding-top: 10px;
  font-size: 14px;
}
.section4iPhone .card2a {
  height: 150px;
  width: 80px;
  text-align: center;
  padding: 25px;
}
.section4iPhone .card2a img {
  height: 50px;
}
.section4iPhone .card2a p {
  padding-top: 10px;
  font-size: 14px;
}
.section4iPhone .card3a {
  height: 150px;
  width: 80px;
  text-align: center;
  padding: 25px;
}
.section4iPhone .card3a img {
  height: 50px;
}
.section4iPhone .card3a p {
  padding-top: 10px;
  font-size: 14px;
}

.section5iPhone {
  margin-top: 30px;
  margin-top: 30px;
  text-align: center;
}
.section5iPhone .cards5 {
  display: flex;
  justify-content: space-evenly;
}
.section5iPhone .cards5 .card5 {
  height: 700px;
  width: 48%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(202, 202, 215, 0.2) 0px 7px 29px 0px;
}
.section5iPhone .cards5 .card5 h4 {
  padding: 20px;
}
.section5iPhone .cards5 .card5 img {
  padding-top: 20px;
  height: 550px;
}
.section5iPhone .cards5 .card6 {
  height: 700px;
  width: 48%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(202, 202, 215, 0.2) 0px 7px 29px 0px;
}
.section5iPhone .cards5 .card6 h4 {
  padding: 20px;
}
.section5iPhone .cards5 .card6 img {
  padding-top: 20px;
  height: 500px;
}

.section1accessories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8em;
}
.section1accessories h1 {
  color: black;
}
.section1accessories img {
  height: 500px;
}

.section2accessories {
  margin: 20px;
  justify-content: center;
  padding: 50px;
}
.section2accessories .input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #8ecaf5;
  outline: 0px;
}
.section2accessories .form-control {
  border: 1px solid #8ecaf5;
}
.section2accessories .btn:hover {
  color: gainsboro;
}

.section3accessories {
  padding: 100px;
}
.section3accessories .c-item {
  height: 500px;
  margin-bottom: 30px;
}
.section3accessories .c-img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section1Support img {
  display: flex;
  width: 100%;
}

.section2Support {
  margin-top: 30px;
  text-align: center;
}
.section2Support .cardsSupport {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.section2Support .cardsSupport p {
  padding-top: 20px;
}

.section3Support {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 241, 241, 0.6352941176);
  height: 75vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section3Support .section3background {
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
.section3Support .section3background h2 {
  padding-bottom: 20px;
}
.section3Support .section3background img {
  height: 400px;
}
.section3Support .section3background p {
  margin-bottom: 30px;
}

.section4Support {
  width: 100%;
  height: 50vh;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section4Support .section4div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}
.section4Support .section4a {
  background-color: rgba(242, 241, 241, 0.6352941176);
  border-radius: 10px;
  margin-left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section4Support .section4a img {
  height: 250px;
}
.section4Support .section4a h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section4Support .section4a p {
  margin-bottom: 20px;
}
.section4Support .section4b {
  background-color: rgba(242, 241, 241, 0.6352941176);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section4Support .section4b img {
  height: 250px;
}
.section4Support .section4b h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section4Support .section4b p {
  margin-bottom: 20px;
}

.section5Support {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section5Support h2 {
  padding-bottom: 15px;
}
.section5Support img {
  height: 50vh;
}/*# sourceMappingURL=styles.css.map */